*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration:none ;
    font-family:montserrat;
    outline:none;
}
.main_container{
    position: relative;

}
.navbar{
    width:100%;
    height:65px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
}

.logo a{
    font-family: 'Sitka Heading' ;
    font-size: 37px;
    color:#0f0303;
    padding-bottom: 10px;
}
.navbar .navbar_items ul{
    display: flex;
}

.navbar .navbar_items ul li    {
    text-transform: uppercase;
    margin:0 25px;
}

.banner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    /*background-color: red;*/
    height:798.95px;
    background-size:cover;
    display: flex;
    justify-content: right;
    align-items: end;
}
.navbar .navbar_items ul li a{
    color:#0f0303;
}
.banner_content{
    text-align:left;
    color:#0f0303;

}
.banner_content  span{
    font-family: Gabriola;
    line-height: 1px;
    font-size: 55px;
    padding-bottom: 20%;
    margin-right: 10%;
}
.banner_content p{
    line-height: 0%;
    font-family: Gabriola;
    font-size: 99px;
    padding-bottom: 20%;
    margin-right: 3%;
    /*padding-right:   5%;*/
    /*font-weight: ;*/
}
/*div.btn:hover {*/
/*    border: 0px solid #777;*/

.btn{
    background-color:lightblue ;
    border:oldlace;
    border-radius: 25px;
    /*color:#0f0303;*/
    padding: 3%;
    text-align: center;
    display:inline-block;
    font-size:15px;
    margin-bottom: 18%;
    cursor: pointer;
    font-family: Gabriola;

}
div.ourgal{
    font-size: 15px;
    font-family: "Sitka Heading";
    text-align: center;
    padding: 5% 5%;
}
div.gallery {
    margin: 93px;
    float: left;
    width: 180px;

}
div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 284.5px;
    height: 189.5px;
    align: center;
    /*margin:10px;*/

}
div.ourevent{
    font-size: 15px;
    font-family: "Sitka Heading";
    text-align:center;
    margin-top: 25%;
 }
div.events {
    margin: 100px;
    float: left;
    width: 180px;
}
div.events img {
    width: 319px;
    height: 322px;
    align: center;
    border-radius: 40px;
}
div .desc {
    padding: 15px;
    /*text-align: center;*/
    margin-left: 80px;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-container{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    background-color:#200606;
    width:100%;
    height: 300px;

}

.footer-left, .footer-right, .footer-middle{
    padding-top: 70px;
    color:#FFFFFF;
    padding-bottom: 70px;
}

.footer-image{
    display: none;
    width: 50px;
}
/*.footer-col{*/
/*    width: 25%;*/
/*    padding: 0 15px;*/
/*}*/
/*.footer-col h4{*/
/*    font-size: 18px;*/
/*    color: #ffffff;*/
/*    text-transform: capitalize;*/
/*    margin-bottom: 35px;*/
/*    font-weight: 500;*/
/*    position: relative;*/
/*}*/
/*.footer-col h4::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    left:0;*/
/*    bottom: -10px;*/
/*    background-color: #e91e63;*/
/*    height: 2px;*/
/*    box-sizing: border-box;*/
/*    width: 50px;*/
/*}*/
/*.footer-col ul li:not(:last-child){*/
/*    margin-bottom: 10px;*/
/*}*/
/*.footer-col ul li a{*/
/*    font-size: 16px;*/
/*    text-transform: capitalize;*/
/*    color: #ffffff;*/
/*    text-decoration: none;*/
/*    font-weight: 300;*/
/*    color: #bbbbbb;*/
/*    display: block;*/
/*    transition: all 0.3s ease;*/
/*}*/
/*.footer-col ul li a:hover{*/
/*    color: #ffffff;*/
/*    padding-left: 8px;*/
/*}*/
/*.footer-col .social-links a{*/
/*    display: inline-block;*/
/*    height: 20px;*/
/*    width: 40px;*/
/*    background-color: rgba(255,255,255,0.2);*/
/*    margin:0 10px 10px 0;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*    border-radius: 50%;*/
/*    color: #ffffff;*/
/*    transition: all 0.5s ease;*/
/*}*/
/*.footer-col .social-links a:hover{*/
/*    color: #24262b;*/
/*    background-color: #ffffff;*/
/*}*/

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.ven_d{
    text-align: center;
    font-family: Gabriola;
    font-size: 20px;
    padding-top: 20px;

}
.venueimg{
    margin: 0 auto;
    max-width: 1000px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    font-family: Gabriola;
}
.venueI{
    box-shadow: 0 0 3px rgba(0 0 0 0.1);
}
.venueI img{
    width:50%;
    diaplay:block;
}
.venue_content{
    line-height:1.5;
    font-size:10px;
    padding:5px;
    fon-family:Gabriola;
}
.venue_content > pre:last-of-type{
    margin-top:0;
}
.vbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.vbanner_content h1{
    color:white;
    /*align-item:center;*/
    padding-top: 150%;
    margin-left: 70%;
    justify-content: right;
}
.vcontainer pre {
    margin-left: 25%;
    font-family: Gabriola;
    font-size: 32px;
    paddding-top: 20px;

}

/*}*/
/*.vimage{*/
/*    padding: 0 6px;*/
/*   margin-left:5% ;*/
/*!*    !*justify-content: space-around;*!*!*/
/*   width:25%;*/
/*!*    height:100vh;*!*/
/*   float: left;*/
/*    margin-right:5% ;*/
/*    flex-direction: row;*/
/*    padding:30px;*/
/*}*/
/*.vimage img{*/

/*    float: left;*/
/*    margin-left:5% ;*/
/*    padding-top:30%;*/
/*    width:100%;*/
/*    height:auto;*/
/*}*/
.container img{
    float: left;
    margin:10px;
    paddding:60px;
}
div.vdesc pre {
    padding: 15px;
    font-family: Gabriola;
    /*margin-left:5% ;*/
    text-align: center;
font-size:32px;
}
.sbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.sbanner_content h1 {
    color: white;
    align-item: center;
    padding-top: 130%;
    margin-left: 110%;
    justify-content: right;
}
.sheading pre{
    padding-top:15px;
    text-align: center;
    /*margin-left:5%;*/
    font-size:32px;
    font-family:Gabriola;
}
/*!*.services_provided pre{*!*/
/*    padding-top:2%;*/
/*    font-size:32px;*/
/*    font-family:Gabriola;*/
/*    margin-left:23%;*/
/*}*/
.service_img{
    margin-left:5%
    /*padding-bottom:1%*/
}
.service_img img{
    padding-top:1%;
    margin-left:5%;
    /*align:center;*/

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-container{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    background-color:#200606;
    width:100%;
    height: 300px;

}

.footer-left, .footer-right, .footer-middle{
    padding-top: 70px;
    color:#FFFFFF;
    padding-bottom: 70px;
}

.footer-image {
    display: none;
    width: 50px;
    heignt:50px;
}

.abanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.aheading{
    padding: 1% 1%;
    text-align: center;
    margin-left:3%;
    font-size:20px;
    font-family: Gabriola;
}
.abanner_content h1 {
    color: white;
    align-item: center;
    padding-top: 130%;
    margin-left: 110%;
    justify-content: right;
}
.wbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.wheading{
    padding: 1% 1%;
    margin-left:20%;
    font-size:30px;
    font-family: Gabriola;
}
.wed_img{
    margin-left: 5%;
    /*padding:2% 2%;*/
    /*margin: 2% 4%;*/
}
.wbanner_content h1{
    color: white;
    align-item: center;
    padding-top: 130%;
    margin-left: 110%;
    justify-content: right;
}
.wdesc p{
    font-family: Gabriola;
    font-size:30px;
}
.wdesc pre{
    font-family: Gabriola;
    text-align: center;
    font-size:30px;
}



.wbtn {
    background-color: lightskyblue;
    border: oldlace;
    border-radius: 25px;
    color: #0f0303;
    padding: 1%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1%;
    cursor: pointer;
    font-family: Gabriola;
    align:center;
    margin-left: 45%;
}
.wheading span{
    font-family: Gabriola;
    font-size:30px;
}
.Abanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.Aheading{
    padding: 1% 1%;
    margin-left:20%;
    font-size:30px;
    font-family: Gabriola;
}
.anni_img{
    padding:2% 2%;
    margin: 2% 4%;
}
.Abanner_content h1{
    color: white;
    align-item: center;
    padding-top: 88%;
    margin-left: 80%;
    justify-content: right;
}
.Aheading p{
    font-family: Gabriola;
    font-size:30px;
}
.Abtn {
    background-color: #ffe6e6;
    border: oldlace;
    border-radius: 25px;
    color: #0f0303;
    padding: 1%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1%;
    cursor: pointer;
    font-family: Gabriola;
    align:center;
    margin-left: 45%;
}
.Aheading span{
    font-family: Gabriola;
    font-size:30px;
}
.bbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.bheading{
    padding: 1% 1%;
    margin-left:20%;
    font-size:30px;
    font-family: Gabriola;
}
.birth_img{
    padding:2% 2%;
    margin: 2% 4%;
}
.bbanner_content h1{
    color: white;
    align-item: center;
    padding-top: 88%;
    margin-left: 100%;
    justify-content: right;
}
.bheading p{
    font-family: Gabriola;
    font-size:30px;
}
.bbtn {
    background-color: #ffe6e6;
    border: oldlace;
    border-radius: 25px;
    color: #0f0303;
    padding: 1%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1%;
    cursor: pointer;
    font-family: Gabriola;
    align:center;
    margin-left: 45%;
}
.bheading span{
    font-family: Gabriola;
    font-size:30px;
}
.lbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.lbanner_content h1{
    color: white;
    align-item: center;
    padding-top: 196%;
    margin-left: 185%;
    justify-content: right;
}
.lcontainer {
    width: 100%;
    height:400px;
    background: #EDFAFA;
    margin: 0 auto;

    /*padding-bottom: 5%;*/
}
.lcontainer img{
    padding-top: 0%;
    width: 50%;
    height: 100%;

/*.lcontainer .left{*/
/*    !*float:left;*!*/
/*    width:50%;*/
/*    height:400px;*/
/*    padding-top: 3%;*/
/*    background:url("image/download.jpg");*/
/*    box-sizing: border-box;*/
}
/*.lcontainer .right{*/
/*    float:right;*/
/*    width:50%;*/
/*    height:400px;*/
/*    box-sizing:border-box;*/
/*}*/
.lcontainer .formbox{
    float: right;
    padding-top: 10%;
    margin-right: 20%;
    font-family: Gabriola;
}
 .lcontainer .lbtn{
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: oldlace;
    font-size: 16px;
    margin-bottom: 1%;
    margin-left: 30px;
     margin-right: 30px;
    cursor: pointer;
    font-family: Gabriola;

}
 .formbox .logind{
     padding-bottom: 15px;
 }
.rbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.rbanner_content h1 {
    color: white;
    align-item: center;
    padding-top: 196%;
    margin-left: 185%;
    justify-content: right;
}
.rformbox .registerd{
    padding-bottom: 15px;}
.rcontainer {
    width: 100%;
    height:400px;
    /*background: #EDFAFA;*/
    margin: 0 auto;

    /*padding-bottom: 5%;*/
}
.rcontainer img {
    padding-top: 0%;
    width: 50%;
    height: 100%;
}
/*.rformbox .registerd {*/
/*    padding-bottom: 15px;*/
/*}*/
.rcontainer .rformbox {
    float: right;
    padding-top: 8%;
    margin-right: 20%;
    font-family: Gabriola;
}
.rcontainer .sbtn{
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: oldlace;
    font-size: 16px;
    margin-bottom: 1%;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    font-family: Gabriola;

}
.rcontainer .cbtn {
    float:right;
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: oldlace;
    font-size: 16px;
    margin-bottom: 1%;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    font-family: Gabriola;
}
.bkbanner_image{
    background:url("../images/matty-adame-nLUb9GThIcg-unsplash.jpg") no-repeat top center;
   
    width:100%;
    height:401.78px;
    background-size:cover;
    display: flex;
    justify-content: left;
    /*align-items: end;*/
}
.bkbanner_content h1 {
    color: white;
    align-item: center;
    padding-top: 196%;
    margin-left: 185%;
    justify-content: right;
}
.bkcontainer {
    width: 100%;
    height:400px;
    background: #EDFAFA;
    margin: 0 auto;

    /*padding-bottom: 5%;*/
}
.bkcontainer .bkformbox {
    float: right;
    padding-top: 3%;
    margin-right: 45%;
    font-family: Gabriola;
}
.bkcontainer .bksbtn{
    text-align: center;
    border-radius: 25px;
    background-color: dodgerblue;
    border: oldlace;
    font-size: 16px;
    margin-bottom: 1%;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    font-family: Gabriola;

}
.bkformbox .bkd{
    padding-bottom: 15px;
}
/*FOR VENUE IMAGE*/
div.VVgallery {
    margin: 120px;
    border: 1px solid #ccc;
    float: left;
    width: 322px;
    height:291px;
}

div.VVgallery:hover {
    border: 1px solid #777;
}

div.VVgallery img {
    width: 500px;
    height:400px ;
}

div.VVdesc pre{
    padding: 15px;
    text-align: center;
    margiin:80px;

}